@import url("./_type_error/popup__input_type_error.css");

.popup__input {
  width: 100%;
  min-height: 47px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 18px;
  box-sizing: border-box;
  padding: 12px 16px;
  margin-bottom: 10px;
  border-radius: 2px;
}

.popup__input:focus {
  outline: 2px solid #2f71cd;
  outline-offset: 0;
}

.popup__input:focus-visible {
  outline: 2px solid #2f71cd;
  outline-offset: 0;
}

.popup__input:last-of-type {
  margin-bottom: 0;
}
